

.habit-card {
  display: flex;
  justify-content: space-between;
  background-color: white;
  margin: 8px;
  padding: 10px 15px;
  border-radius: 5px;
  min-width: 80vw;
}

.habit-card a {
	text-decoration: none;
	font-family: 'Roboto Condensed', sans-serif;
	color: black;
}

a:hover {
	color: #F7B733;
}

.habit-info {
  display: flex;
  padding-left: 2%;
  justify-content: space-around;
}

.habit-item {
	padding: 8px;
}

.edit-delete {
  max-width: 20%;
  padding-right: 2%;
  justify-content: flex-end;
}
